body {
  font-family: "Lato", "sans-serif";
  -webkit-font-smoothing: antialiased;
  color: #232323;
  height: 4000px;
}

.logo_main {
  height: 60px;
  width: 60px;
}

nav li:last-child a {
  background-color: #eb5316;
}
nav li:last-child a:hover {
  background-color: #6d270b;
}

nav li a {
  transition: all 0.3s ease-in-out;
}
nav li a:hover {
  color: #eb5316;
}

.hero-vegi {
  height: 350px;
}

.size {
  background-color: #F8f8f8;
}

.add-to-cart {
  color: #eb5316;
  border: 2px solid #eb5316;
}
.add-to-cart:hover {
  background: #eb5316;
  border-color: #fff;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.btn-primary {
  background: #eb5316;
  transition: all 0.3s ease-in-out;
}
.btn-primary:hover {
  background-color: #6d270b;
}
