<section class="cart py-16">
  <div class="order container mx-auto w-1/2">
    <div class="flex items-center border-b border-gray-300 mb-10 pb-4">
      <img src="/img/cart-black.png" alt="" />
      <h1 class="font-bold ml-4 text-2xl">Order Summary</h1>
    </div>
    <div class="vegetable-list">
      <div class="flex items-center my-8">
        <img class="w-24" src="/img/pizza.png" alt="" />
        <div class="ml-4 flex-1">
          <h1>Marinara</h1>
          <span>MEDIUM</span>
        </div>
        <span class="flex-1">1 Pcs</span>
        <span class="">300</span>
      </div>
      <div class="flex items-center my-8">
        <img class="w-24" src="/img/pizza.png" alt="" />
        <div class="ml-4 flex-1">
          <h1>Marinara</h1>
          <span>MEDIUM</span>
        </div>
        <span class="flex-1">1 Pcs</span>
        <span class="">300</span>
      </div>
      <div class="flex items-center my-8">
        <img class="w-24" src="/img/pizza.png" alt="" />
        <div class="ml-4 flex-1">
          <h1>Marinara</h1>
          <span>MEDIUM</span>
        </div>
        <span class="flex-1">1 Pcs</span>
        <span class="">300</span>
      </div>
      <div class="flex items-center my-8">
        <img class="w-24" src="/img/pizza.png" alt="" />
        <div class="ml-4 flex-1">
          <h1>Marinara</h1>
          <span>MEDIUM</span>
        </div>
        <span class="flex-1">1 Pcs</span>
        <span class="">300</span>
      </div>
    </div>
    <hr>
    <div class="text-right py-4">
      <div>
        <span class="text-lg font-bold">Total Amount :</span>
        <span class="amount font-bold text-2xl ml-2">300</span>
      </div>
      <div>
        <form action="" class="mt-12">
          <input class="border border-grya-400 p-2 w-1/2" placeholder="Phone Number" type="text">
          <input class="  mt-4 border border-grya-400 p-2 w-1/2" placeholder="Address" type="text">
          <div>
          <button class=" mt-4 px-6 py-2 rounded-full text-white font-bold  btn-primary" type="submit">Order Now</button>
        </div>
        </form>
      </div>
      <!-- <a href="" class=" mt-4 px-6 py-2 rounded-full text-white font-bold  btn-primary inline-block cursor-ponter">Login to Continue</a> -->
    </div>
  </div>

  <!-- <div class="empty-cart">
    <div class="container mx-auto text-center">
        <h1 class="text-3xl font-bold mb-2">Cart Empty !</h1>
        <p class="mb-10 font-bold text-gray-600">You probably did't order anything <br> For order vegetable click on Home Page Button.</p>
        <img class=" mx-auto w-2/5" src="/img/empty-cart.png" alt="">
        <a class="mt-12
        inline-block px-6 py-2 rounded-full btn-primary text-white font-bold" href="/">Go To Home Page</a>
    </div> -->
</section>
